<header class="flex justify-between py-4 sm:px-[10%] fixed w-screen backdrop-blur-md">
  <%= link_to products_path do %>
    <h1 class="text-3xl font-bold text-main-color"><%= t('app_title') %></h1>
  <% end %>

  <button class="sm:hidden"><%= image_tag "icons/menu.svg", class: "w-6 h-6" %></button>
  <!-- Menu tablet and desktop -->
  <section class="sm:flex items-center gap-4 hidden">
    <%= render partial: "shared/items" %>
  </section>

  <!-- Menu mobile -->
  <section class="sm:hidden absolute bg-white top-0 right-0 z-10 h-full flex flex-col min-w-[35%] ease-in-out duration-200 p-5 translate-x-full">
    <%= render partial: "shared/items" %>
  </section>
</header>
