<%= form_with model: @product do |form| %>
  <% @product.errors.full_messages.each do |error| %>
    <div>
      <%= error %>
    </div>
  <% end %>

  <div class="flex flex-col gap-1 min-w-72">
    <%= form.label :title, class: "font-semibold" %>
    <%= form.text_field :title, class: "rounded-2xl border-2 focus:border-main-color" %>
  </div>

  <div class="flex flex-col gap-1 min-w-72">
    <%= form.label :description, class: "font-semibold" %>
    <%= form.text_area :description, class: "rounded-2xl border-2 focus:border-main-color" %>
  </div>

  <div class="flex flex-col gap-1 min-w-72">
    <%= form.label :price, class: "font-semibold" %>
    <%= form.number_field :price, class: "rounded-2xl border-2 focus:border-main-color" %>
  </div>

  <div class="flex flex-col gap-1 min-w-72">
    <%= form.label :stock, class: "font-semibold" %>
    <%= form.number_field :stock, class: "rounded-2xl border-2 focus:border-main-color" %>
  </div>

  <div class="flex flex-col gap-1 min-w-72">
    <%= form.label :category_id, class: "font-semibold" %>
    <%= form.collection_select :category_id, Category.all.order(name: :asc), :id, :name, class: "rounded-2xl border-2 focus:border-main-color" %>
  </div>

  <div class="flex flex-col gap-1 min-w-72">
    <%= form.label :photo, class: "font-semibold" %>
    <%= form.file_field :photo, class: "rounded-2xl border-2 focus:border-main-color" %>
  </div>

  <div>
    <%= form.submit class: "bg-main-color text-white px-2 py-2 rounded-2xl mt-4 w-full" %>
  </div>
<% end %>
