<section class="mx-auto border-2 p-5 flex flex-col rounded-2xl sm:flex-row sm:gap-4 max-w-md sm:max-w-5xl">
  <div>
    <%= image_tag @product.photo.attached? ? @product.photo : "placeholder.jpg", class: "w-full rounded max-w-sm" %>
  </div>

  <div class="mt-5 sm:mt-0 flex flex-col">
    <h2 class="title font-bold text-xl mb-2"><%= @product.title %></h2>
    <p class="description text-black/80"><%= @product.description %></p>

    <div class="flex flex-col sm:flex-row sm:gap-1 md:gap-3">
      <div class="flex items-center justify-between my-2 sm:gap-2 md:gap-4">
        <span class="price">$ <%= @product.price %></span>
        <span>stock: <%= @product.stock %></span>
      </div>

      <div class="flex justify-between items-center mb-2 sm:gap-2 md:gap-4">
        <%= render partial: "favorite", locals: { product: @product } %>
        <%= link_to shopping_carts_path(product_id: @product.id), data: { turbo_method: :post }, class: "CartBtn bg-main-color w-36 h-10 rounded-xl border-none flex items-center cursor-pointer duration-500 overflow-hidden shadow relative text-white font-semibold active:scale-95" do %>
          <%= image_tag "icons/add-shopping-cart.svg", class: "IconContainer absolute left-[-50px] w-7 h-7 bg-transparent rounded-2xl flex items-center justify-center overflow-hidden z-10 duration-500" %>
          <p class="h-full w-full flex items-center justify-center z-[5] duration-500 text">Add to cart</p>
        <% end %>
      </div>
    </div>

    <div>
      <%= link_to t('.show_more', username: @product.user.username), user_path(@product.user.username), class: "italic text-base text-main-color/60 hover:underline" %>
      <%= link_to t('.edit'), edit_product_path(@product.id) if @product.owner? %>
      <%= link_to t('.delete'), product_path(@product.id), data: {
        turbo_method: :delete,
        turbo_confirm: t('common.confirm')
      } if @product.owner? %>
    </div>
  </div>
</section>

<style>
  .CartBtn:hover .IconContainer {
    transform: translateX(58px);
    border-radius: 40px;
    transition-duration: .5s;
  }

  .CartBtn:hover .text {
    transform: translate(10px,0px);
    transition-duration: .5s;
  }
</style>
